body{
background: #ffffff);
}

.tv {
     position: absolute;
     width: 800px;
     height: 650px;
     margin: 100px;
     left: 500px;
     background-image: linear-gradient(#47476b,#8585ad);
     border-radius: 50% / 10%;
     color: white;
     text-align: center;
     text-indent: .1em;
   }
 .tv:before {
     content: '';
     position: absolute;
     top: 10%;
     bottom: 10%;
     right: -5%;
     left: -5%;
     background: inherit;
     border-radius: 5% / 50%;
   }

  .moon {
    position: absolute;
        width: 115px;
        height: 125px;
        margin: 165px;
        left: 500px;
        border-radius: 50%;
        box-shadow: 15px 15px 0 0 #f2f2f2;
      }

  .circle1{
      position: absolute;
      width: 250px;
      height: 125px;
      margin: 350px;
      left:540px;
      background:#b3ffd9 ;
      border-radius: 50%;
    }

  .oval2{
    position: absolute;
    width: 380px;
    height: 85px;
    margin: 390px;
    left: 435px;
    background:grey;
    border-radius: 100px / 50px;
  }

  .circle{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 425px;
    left: 450px;
    background: #b3ffd9;
    border-radius: 50%
  }

  .circle2{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 425px;
    left: 530px;
    background: #b3ffd9;
    border-radius: 50%
  }

  .circle3{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 425px;
    left: 620px;
    background: #b3ffd9;
    border-radius: 50%
  }

  .circle4{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 425px;
    left: 700px;
    background: #b3ffd9;
    border-radius: 50%
  }

  .star{
    position: absolute;
        width: 0;
        height: 0;
        margin:170px;
        left:1050px;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #ffff99;
      }
      .star:after {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #ffff99;
        position: absolute;
        content: "";
        top: 30px;
        left: -50px;
      }
